@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Sketch&family=Permanent+Marker&family=Pompiere&display=swap');


body {
  background-color: rgba(250,239,231,.2);
}

#wrapper{
  margin: 0 auto;
  width: 960px;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#index{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

#aboutme{
  display: grid;
  grid-template-columns: 1fr ;
}

#meimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
img:hover{
  transform: scale(1.1);
  z-index: 10;
  transition: all 1s ease-in;
}
nav,
footer {
  background-color: rgb(255,153,204,.4);
}
nav ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;


  display: flex;
  justify-content: space-between;
}



a:link {
  text-decoration: none;
}

a:visited{
  color: #5AB9EA;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

a:active {
  color: rgb(255,153,204);
}

h1,
h2,
h3,
title{
  text-align: center;
}

h1,
h2,
h3,
nav{
  font-family: "Permanent Marker";
}

h1{
  font-size: 75px;
  margin: 0;
  color: rgb(102,178,255);
}

h2{
  font-size: 35px;
  margin-top: 10px;
  color: rgb(255,153,204);
}

h3{
  margin: 0;
}

section{
  font-family:"Pompiere";
  font-size: 20px;
  padding: 10px;
}


#title{
  position: fixed;
}
