@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Londrina+Solid&family=Merriweather:wght@300&display=swap');

#wrapper {
  margin: 0 auto;
  width: 960px;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}


h1 {
  font-size: 65px;
  text-align: center;
  color: rgb(192, 31, 44);
}

ul {
  /* margin: 0; */
  padding-left: 15px;
}

h2 {
  color: rgb(192, 31, 44);
  margin-top: 0;
  font-size: 30px;
}

img {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
}

nav,
footer {
  background-color: rgb(255, 236, 208);
}

section{
  background-color: #eee;;
}

header,
footer {
  grid-column: 1 / -1;
}

body {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
}

h1,
h2{
  font-family: "Bangers", "Arial";
}

h3 {
  font-family: "Londrina Solid", "Helvetica", sans-serif;
  margin-left: 0;
  margin-bottom: 0;
}

table,
th,
td {
  border: 1px solid rgb(192, 31, 44);
  width: 100%;
}


nav ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
}

nav ul a{
  display: block;
}

a:link {
  text-decoration: none;
}

a:visited{
  color: rgb(35, 31, 32);
}

a:hover {
  text-decoration: underline;
  color: rgb(192, 31, 44);
}

a:active {
  color: rgb(255, 255, 255);
}


main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  grid-template-areas:
    "introduction          introduction    introduction"
    "militaryandsecurity   geography       peopleandsociety"
}

section {
  padding: 10px;
}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#peopleandsoceity {
  grid-area: peopleandsociety;
}

#militaryandsecurity {
  grid-area: militaryandsecurity;
}
